<ion-view>
  <ion-content>
    <div class="about">
      <div class="heading">
        ABOUT TRAVELMATE
      </div>
      <!--<div class="conditions">
        <h4>About Travel Mate</h4>
        <h5>1. &nbsp Best Time To Go</h5>
        <p>Best Time To Go

          Keep in mind that it will be hot no matter when you visit Dubai. Between November and March the weather is
          milder (think a balmy 73 degrees). The world's richest horse race, the Dubai World Cup, takes place in March.
          Avoid going in July and August, when the heat feels unbearable and temperatures clock north of 103
          degrees.</p>
        <h5>2. &nbsp Transportation</h5>
        <p>Don’t plan to walk; in this city, metered taxis are the most popular and ubiquitous mode of transportation.
          There’s a mandatory flat rate of $3 (ladies-only cab services are also available). The Dubai metro, divided
          into four cars that include ladies-only and “gold class,” will get you to all the most popular
          neighborhoods..</p>
        <h5>3. &nbsp Weather</h5>
        <p>August is the hottest month, with an average high of 96°F (36°C). January is the coldest month, with an
          average high of 66°F (19°C).</p>
      </div>-->
    </div>
  </ion-content>
</ion-view>
