<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="attach">
      <div class="note">
        <p>Please attach your picture</p>
      </div>
      <div class="attachPin1">
        <button class="button button-small buttons" ui-sref="app.term&condition">DONE</button>
        <button class="button button-small buttons backs" ui-sref="app.attachPic">BACK</button>
      </div>
    </div>
  </ion-content>
</ion-view>
