<ion-view>
  <ion-content padding="true" has-bouncing="false" scroll="false">
    <div class="attach">
      <div class="note">
        <p>Please attach your picture</p>
      </div>
      <div class="attachPin">
        <i class="icon ion-paperclip" ui-sref="app.attachPic1"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
