<ion-view>
  <ion-content padding="true">
    <div class="visaForm">
      <div class="div">
       BILLING INFO
      </div>
      <form name="visaForm.form">
        <div class="list list-inset">
          First Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.billingData.FirstName" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Last Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.billingData.LastName" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Address
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.billingData.Address" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Contact No
          <label class="item item-input">
            <input type="tel" class="keyboard-open" ng-model="visaForm.billingData.ContactNo" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Email Address
          <label class="item item-input">
            <input type="email" class="keyboard-open" ng-model="visaForm.billingData.EmailAddress" ng-required="true">
          </label>
        </div>
      <!--  <div class="list list-inset billing">
          <input type="submit" value="PROCEED" class="keyboard-open visaButton" style="float: right;"
                 ui-sref="app.creditInfo" ng-click="visaForm.submitBilling()">
        </div>-->
      </form>
    </div>
    <br>
        <div class="visaForm">
          <div class="div">
            CREDIT CARD INFO
          </div>
          <form name="visaForm.form">
            <div class="list list-inset">
              First Name
              <label class="item item-input">
                <input type="text" class="keyboard-open" ng-model="visaForm.billingData.CCFirstName" ng-required="true">
              </label>
            </div>
            <div class="list list-inset">
              Last Name
              <label class="item item-input">
                <input type="text" class="keyboard-open" ng-model="visaForm.billingData.CCLastName"  ng-required="true">
              </label>
            </div>
            <div class="list list-inset">
              Card Type
              <!--<div class="visaSelect" ng-model="visaForm.billingData.CCType" ng-change="change(visaForm.billingData.CCType)" ng-required="true">
                <span><input type="radio" value="Visa" class="keyboard-open">Visa</span>
                <span><input type="radio" value="Master Card" class="keyboard-open">Master Card</span>
              </div>-->
              <select style="width: 39%" ng-model="visaForm.billingData.CCType" ng-change="change(visaForm.billingData.CCType)" ng-required="true">
                <option value="">Select</option>
                <option value="Visa">Visa</option>
                <option value="Master Card">Master Card</option>
              </select>
            </div>
            <div class="list list-inset">
              Card Number
              <label class="item item-input">
                <input type="text"  class="keyboard-open" ng-required="true">
              </label>
            </div>
            <div class="list list-inset">
              Expiration Date
              <br>
              <select style="width: 39%" ng-model="visaForm.billingData.ExpiryDateMonth" ng-required="true">
                <option value="">Select Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="June">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>

              </select>
              <select style="width: 25%" ng-model="visaForm.billingData.ExpiryDateDay" ng-required="true">
                <option value="">Date</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="6">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
              </select>
              <select style="width: 32%" ng-model="visaForm.billingData.ExpiryDateYear" ng-required="true">
                <option value="">Select Year</option>
                <option value="2010">2010</option>
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
              </select>
            </div>
            <div class="list list-inset">
              CW2<br>(3 digits on the back of the card)
              <label class="item item-input">
                <input type="text"  class="keyboard-open" ng-required="true">
              </label>
            </div>
            <!--ng-disabled="visaForm.form.$invalid"-->
            <div class="list list-inset billing" >
              <input type="submit" value="PROCEED" class="keyboard-open visaButton" style="float: right;" ui-sref="app.visaPreview"  ng-click="visaForm.submitBilling()" ng-disabled="visaForm.form.$invalid">
            </div>
          </form>
        </div>

  </ion-content>
</ion-view>
