<ion-view>
  <ion-content>
    <div class="category">
      <div class="label">
        <label>DUBAI VISA CATEGORIES</label>
      </div>
      <div style="width: 100%">
        <table>
          <tr class="index1">
            <th></th>
            <th>VISA TYPE</th>
            <th>PRICE</th>
          </tr>
          <tr class="index2" ng-repeat="d in detail">
            <td><input type="radio" name="gender" ng-model="category.data" ng-change="change(category.data)"
                           value="{{d}}">
            </td>
            <td>{{d.VisaType}}</td>
            <td>{{d.Price}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="buttonCategory">
      <!--ng-model="visaID" ng-change="change(visaID)"-->
      <button class="button button-small done" ui-sref="app.visaForm" ng-disabled="!category.data">
        DONE
      </button>
    </div>
  </ion-content>
</ion-view>
