<ion-view>
  <ion-content>
    <div class="contact">
      <div class="heading">CONTACT US</div>
      <!--<form>
        <div class="contactForm">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="text" placeholder="Email" class="keyboard-open" ng-model="login.user.email" required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input type="password" placeholder="Password" class="keyboard-open" ng-model="login.user.password"
                     required>
            </label>
          </div>
        </div>
        <div class="contactButton">
          <button class="button button-block loginButton1">LOGIN</button>
          <button class="button button-block loginButton1" ui-sref="register">REGISTER</button>
        </div>
      </form>-->
    </div>
  </ion-content>
</ion-view>
