<!--
<ion-view>
  <ion-content padding="true">
    <div class="visaForm">
      <div class="div">
        CREDIT CARD INFO
      </div>
      <form name="visaForm.form">
        <div class="list list-inset">
          First Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.billingData.CCFirstName" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Last Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.billingData.CCLastName"  ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Card Type
          &lt;!&ndash;<div class="visaSelect" ng-model="visaForm.billingData.CCType" ng-change="change(visaForm.billingData.CCType)" ng-required="true">
            <span><input type="radio" value="Visa" class="keyboard-open">Visa</span>
            <span><input type="radio" value="Master Card" class="keyboard-open">Master Card</span>
          </div>&ndash;&gt;
          <select style="width: 39%" ng-model="visaForm.billingData.CCType" ng-change="change(visaForm.billingData.CCType)" ng-required="true">
            <option value="Visa">Visa</option>
            <option value="Master Card">Master Card</option>
          </select>
        </div>
        &lt;!&ndash;<div class="list list-inset">
          Card Number
          <label class="item item-input">
            <input type="text"  class="keyboard-open" ng-model="visaForm.billingData.CCFirstName" ng-required="true">
          </label>
        </div>&ndash;&gt;
        <div class="list list-inset">
          Expiration Date
          <br>
          <select style="width: 39%" ng-model="visaForm.billingData.ExpiryDateMonth" ng-required="true">
            <option value="">Select Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
          </select>
          <select style="width: 25%" ng-model="visaForm.billingData.ExpiryDateDay" ng-required="true">
            <option value="">Date</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
          <select style="width: 32%" ng-model="visaForm.billingData.ExpiryDateYear" ng-required="true">
            <option value="">Select Year</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
          </select>
        </div>
        &lt;!&ndash;<div class="list list-inset">
          CW2<br>(3 digits on the back of the card)
          <label class="item item-input">
            <input type="text"  class="keyboard-open" ng-model="visaForm.billingData.CCFirstName" ng-required="true">
          </label>
        </div>&ndash;&gt;
        <div class="list list-inset billing" >
          <input type="submit" value="PROCEED" class="keyboard-open visaButton" style="float: right;" ui-sref="app.visaPreview" ng-click="visaForm.submitBilling()">
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
-->
