<ion-view>
  <ion-content padding="true">
    <div class="login">
      <form name="forgot.form" ng-submit="forgot.submit()">
        <div class="loginForm">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="text" placeholder="Enter Your Email" class="keyboard-open" ng-model="forgot.forgot.email" ng-required="true">
            </label>
          </div>
        </div>
        <div class="loginButton">
          <button class="button button-block loginButton1" type="submit" ng-disabled="forgot.form.$invalid">SUBMIT</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
