<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="invoice">
      <div class="div">
        INVOICE
      </div>
      <div class="detail" >
        <span style="color: #ff464e;">Name:</span>&nbsp<span style="color: whitesmoke;">{{billObj.FirstName}}</span><br>
        <span style="color: #ff464e;">Address:</span>&nbsp<span style="color: whitesmoke;">{{billObj.Address}}</span><br>
        <span style="color: #ff464e;">Contact No:</span>&nbsp<span style="color: whitesmoke;">{{billObj.ContactNo}}</span><br><br>

        <span style="color: #ff464e;">Credit Card Name:</span>&nbsp<span style="color: whitesmoke;">{{billObj.CCFirstName}}</span><br>
        <span style="color: #ff464e;">Card Type:</span>&nbsp<span style="color: whitesmoke;">{{billObj.CCType}}</span><br>
        <span style="color: #ff464e;">Valid Thru:</span>&nbsp<span style="color: whitesmoke;">{{billObj.ExpiryDateMonth}} {{billObj.ExpiryDateDay}} {{billObj.ExpiryDateYear}}</span><br>
      </div>
      <div style="width: 100%">
        <table name="visaForm.table">
          <tr class="index1">
            <th>TRANSACTION DETAILS</th>
            <th>AMOUNT</th>
          </tr>
          <tr class="index2">
            <td style="color: #FB444A">{{visaForm.VisaType}}</td>
            <td>{{visaForm.Amount}}&nbspUSD</td>
          </tr>
          <tr class="index3">
            <td style="color: #FB444A">Total:</td>
            <td>{{visaForm.Amount}}&nbspUSD</td>
          </tr>
        </table>
      </div>
      <div class="invoiceButton">
        <input type="submit" value="NEXT" style="float: right;" ng-click="visaForm.visaSubmit()" ui-sref="app.selectProcess" >
      </div>
    </div>
  </ion-content>
</ion-view>
