<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="invoice">
      <div class="div">
        INVOICE
      </div>
      <div class="detail" ng-repeat="i in invoiceData">
        <span style="color: #ff464e;">Name:</span>&nbsp<span style="color: whitesmoke;">{{i.FirstName}}</span><br>
        <span style="color: #ff464e;">Address:</span>&nbsp<span style="color: whitesmoke;">{{i.Address}}</span><br>
        <span style="color: #ff464e;">Contact No:</span>&nbsp<span style="color: whitesmoke;">{{i.ContactNo}}</span><br><br>

        <span style="color: #ff464e;">Credit Card Name:</span>&nbsp<span style="color: whitesmoke;">{{i.CCFirstName}}</span><br>
        <span style="color: #ff464e;">Card Type:</span>&nbsp<span style="color: whitesmoke;">{{i.CCType}}</span><br>
        <span style="color: #ff464e;">Valid Thru:</span>&nbsp<span style="color: whitesmoke;">{{i.ExpiryDateMonth}} {{i.ExpiryDateDay}} {{i.ExpiryDateYear}}</span><br>
      </div>
      <div style="width: 100%" ng-repeat="i in invoiceData">
        <table >
          <tr class="index1">
            <th>TRANSACTION DETAILS</th>
            <th>AMOUNT</th>
          </tr>
          <tr class="index2">
            <td style="color: #FB444A">{{i.VisaType}}</td>
            <td>{{i.Amount}}&nbspUSD</td>
          </tr>
          <tr class="index3">
            <td style="color: #FB444A">Total:</td>
            <td>{{i.Amount}}&nbspUSD</td>
          </tr>
        </table>
      </div>
      <!--<div class="invoiceButton">
        <input type="submit" value="NEXT" style="float: right;" ng-click="visaForm.visaSubmit()" ui-sref="app.selectProcess" >
      </div>-->
    </div>
  </ion-content>
</ion-view>
