<ion-view>
  <ion-content padding="true">
    <div class="login">
      <div class="loginLogo">
        <img src="img/logotravematenew.png">
      </div>
      <form name="login.form" ng-submit="login.submit()">
        <div class="loginForm">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email" id="email" class="keyboard-open" ng-model="login.user.email" ng-required="true">
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input type="password" placeholder="Password" class="keyboard-open" ng-model="login.user.password"
                     ng-required="true">
            </label>
          </div>
        </div>
        <div class="loginButton">
          <button class="button button-block loginButton1"  ng-disabled="login.form.$invalid">LOGIN</button>
          <button class="button button-block loginButton1" ui-sref="forgotPassword">FORGOT PASSWORD?</button>
          <button class="button button-block loginButton1" ui-sref="register">REGISTER</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
