<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="attach">
      <div class="note">
        <p>Processed!</p>
      </div>
     <!-- <div class="processed">
        <input type="submit" value="YES" ui-sref="app.processed" >
      </div>-->
    </div>
  </ion-content>
</ion-view>
