<ion-view>
  <ion-content>
    <!--<div class="profile">
      <div class="heading">PROFILE</div>
      <form name="profile.form" ng-submit="profile.editProfile()" ng-repeat="profileDetail in profile.profileData">
        <div class="profileForm" >
          <div class="list list-inset" style="opacity: .5; pointer-events: none;">
            <label class="item item-input" >
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email" class="keyboard-open" ng-model="profileDetail.EmailAddress " >
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="text" class="keyboard-open" ng-model="profileDetail.Name"
                     required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input type="password" placeholder="Password" class="keyboard-open" ng-model="profileDetail.Password"
                     required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-ios-telephone placeholder-icon"></i>
              <input type="tel" placeholder="Contact No" class="keyboard-open"  ng-model="profileDetail.Phone"
                     required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <input type="file"  ng-model="profileDetail.ProfilePic"
                     required>
            </label>
            {{profileDetail.ProfilePic}}

          </div>
        </div>
        <button ng-click="profile.profilePic()" class="button button-small">profile</button>
         <div class="profileButton">
           <button class="button button-block loginButton1" type="submit">EDIT PROFILE</button>
         </div>
      </form>
    </div>-->
    <div class="profile">
      <div class="heading">PROFILE</div>
      <form name="profile.form" ng-submit="profile.editProfile()" ng-repeat="profileDetail in profile.profileData">
        <div class="profileForm">
          <div class="list list-inset" style="opacity: .5; pointer-events: none;">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email" class="keyboard-open" ng-model="profileDetail.EmailAddress ">
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Name" class="keyboard-open"
                     ng-model="profile.profile.name"
                     required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-android-lock placeholder-icon"></i>
              <input type="password" placeholder="Password" class="keyboard-open" ng-model="profile.profile.password"
                     required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-ios-telephone placeholder-icon"></i>
              <input type="tel" placeholder="Contact No" class="keyboard-open" ng-model="profile.profile.phone"
                     required>
            </label>
          </div>
          <!--   <div class="list list-inset">
               <label class="item item-input">
                 <input type="file"  ng-model="profileDetail.ProfilePic"
                        required>
               </label>
               {{profileDetail.ProfilePic}}

             </div>-->
        </div>
        <div class="profileButton">
          <button class="button button-block loginButton1" type="submit">EDIT PROFILE</button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
