<ion-view cache-view="false">
  <ion-content padding="true" has-bouncing="false">
    <div class="register">
      <div class="registerLogo">
        <img src="img/logotravematenew.png">
      </div>
      <form name=register.form ng-submit="register.submit()">
      <div class="registerForm">
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-email placeholder-icon"></i>
              <input type="email" placeholder="Email" class="keyboard-open" ng-model="register.user.email " required>
            </label>
          </div>
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-person placeholder-icon"></i>
              <input type="text" placeholder="Name" class="keyboard-open" ng-model="register.user.name" required>
            </label>
          </div>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-android-lock placeholder-icon"></i>
            <input type="password" placeholder="Password" class="keyboard-open" ng-model="register.user.password" required>
          </label>
        </div>
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-ios-telephone placeholder-icon"></i>
            <input type="tel" placeholder="Contact No" class="keyboard-open" ng-model="register.user.phone" required>
          </label>
        </div>
      </div>
      <div class="registerButton">
        <button class="button button-block loginButton1" type="submit" ng-disabled="register.form.$invalid">REGISTER</button>
      </div>
      </form>
    </div>
  </ion-content>
</ion-view>
