<ion-view>
  <ion-content>
    <div class="report">
      <div class="label">
        CHECK STATUS
      </div>
      <div class="report1" ng-repeat="r in reportData" >
        <div style="padding-top: 20px;">
          <span class="left">
            <span class="first">05/06/2005</span><br><br>
            <span class="second">Invoice:</span><span class="second">{{r.VisaFormID}}</span><br>
            <span class="second">Status:</span>&nbsp<span class="applied">Applied</span>
          </span>
          <span class="right">
            <span class="first">{{r.Name}}</span><br>
            <span class="second">Passport:</span><span class="second">{{r.PassportNumber}}</span><br>
            <span class="second">Visa:</span><span class="second">{{r.VisaType}}</span><br>
            <span class="second">Country:</span><span class="second">{{report.CountryName}}</span>
          </span>
        </div>
        <div class="button-bar reportButton" >
          <a class="button" style="border-left-width: 0;"  value="{{r}}" ng-model="r.VisaFormID" ng-click="change(r)" ui-sref="app.invoice2">REVIEW INVOICE</a>
          <a class="button" value="{{r}}" ng-model="r.VisaFormID" ng-click="change(r)"  ui-sref="app.visaPreview2">REVIEW APPLICATION</a>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
