<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="select">
      <div class="selectCountry">
        <label>Select a Country</label><br>
        <select ng-model="selected" ng-change="check(selected)">
          <option value="">Select Country</option>
          <option ng-repeat="c in country" value="{{c.CountryID}}">{{c.CountryName}}</option>
        </select>
        <!--  <select ng-options="item.title for item in fieldTable" ng-model="selected" ng-change="hasChanged()">
          </select>-->
      </div>
      <div class="buttonSelect">
        <button class="button button-small back" ui-sref="app.selectStatus" >BACK</button>
        <button class="button button-small next" ui-sref="app.category({categoryID: selected})">NEXT</button>
      </div>
    </div>
  </ion-content>
</ion-view>
