<ion-view>
  <ion-content padding="true" has-bouncing="false">
    <div class="selectStatus">
      <button class="button button-small status" ui-sref="app.report">CHECK STATUS</button>
      <br>
      <button class="button button-small status" ui-sref="app.selectCountry">APPLY FOR VISA</button>
    </div>
  </ion-content>
</ion-view>
