<ion-view >
  <ion-content padding="true" has-bouncing="false">
    <div class="heading">
      PROCESS AND PAY?
    </div>
    <div class="selectProcess">
      <button class="button button-block status"  ui-sref="app.visaPreview">REVIEW APPLICATION</button>
      <button class="button button-block status" ui-sref="app.invoice">REVIEW BILL</button>
    </div>
    <div class="selectProcessButton" name="visaForm.process">
      <input type="submit" value="YES"  ng-click="visaForm.billingSubmit()" ui-sref="app.processed">
    </div>
  </ion-content>
</ion-view>
