<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>

    <!--NavBar-->
    <ion-nav-bar class="bar-stable">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" style="color: #ff464e" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>


    <!--Ionic view-->
    <ion-nav-view name="menuContent">
      <ion-view>
      </ion-view>
    </ion-nav-view>
  </ion-side-menu-content>

  <!--side menu-->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-profile">
      <div class="profile">
        <img class="profile-picture" src="img/blank.png"  menu-close ui-sref="app.profile">
        <h3 class="name">{{profile.profileData[0].Name}}<br><i class="icon ion-log-out" href="#" ng-click="logout()">&nbsplogout</i></h3>
      </div>
    </ion-header-bar>
    <ion-content style="background-color: #404143">
      <ion-list>
        <ion-item menu-close href="#/app/selectStatus">
          <i class="icon ion-ios-home"></i> &nbsp <span>Home</span>
        </ion-item>
        <ion-item menu-close href="#/app/report">
          <i class="icon ion-loop"></i> &nbsp <span>Check Status</span>
        </ion-item>
        <ion-item menu-close href="#/app/selectCountry">
          <i class="icon ion-card"></i> &nbsp <span>Apply for Visa</span>
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon ion-eye"></i> &nbsp <span>View Profile</span>
        </ion-item>
        <ion-item menu-close href="#/app/about">
          <i class="icon ion-android-plane"></i> &nbsp <span>About Travelmate</span>
        </ion-item>
        <ion-item menu-close href="#/app/contact">
          <i class="icon ion-ios-telephone"></i> &nbsp <span>Contact Us</span>
        </ion-item>
        <ion-item menu-close href="#">
          <i class="icon ion-social-facebook"></i>&nbsp <span>Facebook</span>
          &nbsp &nbsp
          <i class="icon ion-social-twitter"></i>&nbsp <span>Twitter</span>
        </ion-item>
       <!-- <ion-item menu-close href="#" ng-click="logout()">
          <i class="icon ion-log-out"></i> &nbsp <span>Logout</span>
        </ion-item>-->
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
