<ion-view>
  <ion-content padding="true">
    <div class="terms">
      <div class="heading">
        TERMS & CONDITIONS
      </div>
      <div class="conditions">
        <h4>Travel Mate Online Terms Of Services</h4>
        <h5>1. &nbsp Lorem ipsum dolor</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec hoc ille non vidit, sed verborum magnificentia
          est et gloria delectatus. Duo enim genera quae erant, fecit tria. Non risu potius quam oratione eiciendum? Hoc
          est dicere: Non reprehenderem asotos, si non essent asoti.</p>
        <h5>2. &nbsp Lorem ipsum dolor</h5>
        <p>Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint, philosophi ante fiant. Negat enim summo bono
          afferre incrementum diem. Quamquam haec quidem praeposita recte et reiecta dicere licebit. Portenta haec esse
          dicit, neque ea ratione ullo modo posse vivi; At hoc in eo M. Modo etiam paulum ad dexteram de via declinavi,
          ut ad Pericli sepulcrum accederem. Hoc est dicere: Non reprehenderem asotos, si non essent asoti. Rhetorice
          igitur, inquam, nos mavis quam dialectice disputare? Quis istum dolorem timet? Ex ea difficultate illae
          fallaciloquae, ut ait Accius, malitiae natae sunt. Transfer idem ad modestiam vel temperantiam, quae est
          moderatio cupiditatum rationi oboediens. Nihilo beatiorem esse Metellum quam Regulum.</p>
        <h5>3. &nbsp Quis est</h5>
        <p> Quis est, qui non oderit libidinosam, protervam adolescentiam? Duo Reges: constructio interrete. Cur
          igitur,
          inquam, res tam dissimiles eodem nomine appellas? Ergo ita: non posse honeste vivi, nisi honeste vivatur? Quo
          modo autem optimum, si bonum praeterea nullum est? Nullus est igitur cuiusquam dies natalis. Si quicquam extra
          virtutem habeatur in bonis. Si longus, levis dictata sunt. Scrupulum, inquam, abeunti; Ita fit cum gravior,
          tum etiam splendidior oratio.</p>
      </div>
      <div class="termButton">
        <button class="button button-small termButton1" ui-sref="app.billingInfo">PAY</button>
        <span><input type="radio" class="keyboard-open"><i style="margin-left: -6px">I Agree</i></span>
      </div>
    </div>
  </ion-content>
</ion-view>
