<ion-view>
  <ion-content padding="true">
    <div class="visaPreview">
      <div class="div">
        VISA APPLICATION PREVIEW
      </div>
      <div class="detail">
        <span style="color: #ff464e;">Name:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.Name}}</span><br>
        <span style="color: #ff464e;">Father's/Husband's Name:</span>&nbsp<span
        style="color: whitesmoke;">{{visaObj.FatherHusbandName}}</span><br>
        <span style="color: #ff464e;">Passport Number:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.PassportNumber}}</span><br>
        <span style="color: #ff464e;">Skyward Number:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.SkywardsNumber}}</span><br>
        <span style="color: #ff464e;">Dependents:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.Dependents}}</span><br>
        <span style="color: #ff464e;">Date of Birth:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.DateOfBirth | date: "MM-dd-yyyy"}}</span><br>
        <span style="color: #ff464e;">Stay In Dubai:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.PassportNumber}}</span><br>
        <span style="color: #ff464e;">Pakistan Contact:</span>&nbsp<span
        style="color: whitesmoke;">{{visaObj.ContactNoPakistan}}</span><br>
        <span style="color: #ff464e;">UAE Contact:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.OtherContactNo}}</span><br>
        <span style="color: #ff464e;">Nationality:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.Nationality}}</span><br>
        <span style="color: #ff464e;">Issuance:</span>&nbsp<span style="color: whitesmoke;">{{visaObj.IssuancePassportMonth}} {{visaObj.IssuancePassportDay}} {{visaObj.IssuancePassportYear}}</span><br>
        <span style="color: #ff464e;">Expiry Of Passport:</span>&nbsp<span
        style="color: whitesmoke;">{{visaObj.ExpiryPassportMonth}} {{visaObj.ExpiryPassportDay}} {{visaObj.ExpiryPassportYear}}</span><br>
      </div>
      <div class="detailPic">
        <span><img src="img/passport.jpg"></span>
        <span><img src="img/face.jpg"></span>
      </div>
      <div class="detailButton billing">
        <input type="submit" value="SUBMIT" style="float: right;" ui-sref="app.invoice">
        <input type="submit" value="CHANGE" style="float: left;" ui-sref="app.visaPreview">
      </div>
    </div>
  </ion-content>
</ion-view>
