<ion-view>
  <ion-content padding="true">
    <div class="visaPreview">
      <div class="div">
        VISA APPLICATION PREVIEW
      </div>
      <div class="detail"  ng-repeat="p in previewData">
        <span style="color: #ff464e;">Name:</span>&nbsp<span style="color: whitesmoke;">{{p.Name}}</span><br>
        <span style="color: #ff464e;">Father's/Husband's Name:</span>&nbsp<span
        style="color: whitesmoke;">{{p.FatherHusbandName}}</span><br>
        <span style="color: #ff464e;">Passport Number:</span>&nbsp<span style="color: whitesmoke;">{{p.PassportNumber}}</span><br>
        <span style="color: #ff464e;">Skyward Number:</span>&nbsp<span style="color: whitesmoke;">{{p.SkywardsNumber}}</span><br>
        <span style="color: #ff464e;">Dependents:</span>&nbsp<span style="color: whitesmoke;">{{p.Dependents}}</span><br>
        <span style="color: #ff464e;">Date of Birth:</span>&nbsp<span style="color: whitesmoke;">{{p.DateOfBirth | date: "MM-dd-yyyy"}}</span><br>
        <span style="color: #ff464e;">Stay In Dubai:</span>&nbsp<span style="color: whitesmoke;">{{p.PassportNumber}}</span><br>
        <span style="color: #ff464e;">Pakistan Contact:</span>&nbsp<span
        style="color: whitesmoke;">{{p.ContactNoPakistan}}</span><br>
        <span style="color: #ff464e;">UAE Contact:</span>&nbsp<span style="color: whitesmoke;">{{p.OtherContactNo}}</span><br>
        <span style="color: #ff464e;">Nationality:</span>&nbsp<span style="color: whitesmoke;">{{p.Nationality}}</span><br>
        <span style="color: #ff464e;">Issuance:</span>&nbsp<span style="color: whitesmoke;">{{p.IssuancePassportMonth}} {{p.IssuancePassportDay}} {{p.IssuancePassportYear}}</span><br>
        <span style="color: #ff464e;">Expiry Of Passport:</span>&nbsp<span
        style="color: whitesmoke;">{{p.ExpiryPassportMonth}} {{p.ExpiryPassportDay}} {{p.ExpiryPassportYear}}</span><br>
      </div>
      <div class="detailPic">
        <span><img src="img/passport.jpg"></span>
        <span><img src="img/face.jpg"></span>
      </div>
    </div>
  </ion-content>
</ion-view>
