<ion-view>
  <ion-content padding="true">
    <div class="visaForm">
      <div class="div">
        VISA APPLICATION FORM
      </div>
      <!--{{memberID}} + {{countryID}} + {{visaID}}-->
      <form name="visaForm.form">
        <div class="list list-inset">
          Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.Name" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Father's/Husband's Name
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.FatherHusbandName"
                   ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Passport Numbers
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.PassportNumber" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Skywards Numbers
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.SkywardsNumber" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Dependents(Spouse/Children)
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.Dependents" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Date Of Birth
          <label class="item item-input">
            <input type="date" class="keyboard-open" ng-model="visaForm.visaFormData.DateOfBirth" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Stay In Dubai
          <!--<div class="visaSelect">
            <span><input type="radio" class="keyboard-open" name="gender" ng-model="visaForm.visaForm.StayHotel" value="0" ng-change="change(visaForm.visaForm.StayHotel)">Hotel</span>
            <span><input type="radio" class="keyboard-open" name="gender" ng-model="visaForm.visaForm.StaySelf" value="1"  ng-change="change(visaForm.visaForm.StaySelf)" ng-required="true">Self Residence</span>
          </div>-->
          <select style="width: 39%" ng-model="visaForm.visaFormData.StaySelf"
                  ng-change="change(visaForm.visaFormData.StaySelf)" ng-required="true">
            <option value="">Hotel</option>
            <option value="1">Self Residence</option>
          </select>
        </div>
        <div class="list list-inset">
          Any Contact Number Of Pakistan
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.ContactNoPakistan">
          </label>
        </div>
        <div class="list list-inset">
          Any Contact Number Of UAE
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.OtherContactNo">
          </label>
        </div>
        <div class="list list-inset">
          Nationality
          <label class="item item-input">
            <input type="text" class="keyboard-open" ng-model="visaForm.visaFormData.Nationality" ng-required="true">
          </label>
        </div>
        <div class="list list-inset">
          Issuance
          <br>
          <select style="width: 39%" ng-model="visaForm.visaFormData.IssuancePassportMonth"
                  ng-change="change(visaForm.visaFormData.IssuancePassportMonth)" ng-required="true">
            <option value="">Select Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="June">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <select style="width: 25%" ng-model="visaForm.visaFormData.IssuancePassportDay"
                  ng-change="change(visaForm.visaFormData.IssuancePassportDay)" ng-required="true">
            <option value="">Date</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="6">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select style="width: 32%" ng-model="visaForm.visaFormData.IssuancePassportYear"
                  ng-change="change(visaForm.visaFormData.IssuancePassportYear)" ng-required="true">
            <option value="">Select Year</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <div class="list list-inset">
          Expiry Of Passport
          <br>
          <select style="width: 39%" ng-model="visaForm.visaFormData.ExpiryPassportMonth"
                  ng-change="change(visaForm.visaFormData.ExpiryPassportMonth)" ng-required="true">
            <option value="">Select Month</option>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="June">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
          </select>
          <select style="width: 25%" ng-model="visaForm.visaFormData.ExpiryPassportDay"
                  ng-change="change(visaForm.visaFormData.ExpiryPassportDay)" ng-required="true">
            <option value="">Date</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="6">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select style="width: 32%" ng-model="visaForm.visaFormData.ExpiryPassportYear"
                  ng-change="change(visaForm.visaFormData.ExpiryPassportYear)" ng-required="true">
            <option value="">Select Year</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
          </select>
        </div>
        <!--<button  ng-click=" upload()">Take Picture</button>-->
        <!--<img ng-src="{{ imgUrl }}">-->
        <div class="list list-inset" style="padding-top: 10%;">
          <!--<input type="submit" value="DONE" class="keyboard-open visaButton" style="float: right;"
                  ui-sref="app.attachPassport"> ng-disabled="visaForm.form.$invalid"-->
          <button class="button button-block visaButton" ng-click="visaForm.submitVisa()" style="float: right;"
                  ui-sref="app.attachPassport" ng-disabled="visaForm.form.$invalid">DONE
          </button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
