@media all and (orientation: landscape) {
  .attach {
    width: 100%;
    height: auto;
  }

  .attach .note {
    width: 100%;
    padding-top: 9%;
    letter-spacing: 1px;
  }

  .attach .note p {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .attach .attachPin {
    width: 100%;
    padding-top: 18%;
  }

  .attach .attachPin i {
    color: #ff464e;
    font-size: 92px;
    float: right;
  }

}

@media all and (orientation: portrait) {
  .attach {
    width: 100%;
    height: auto;
  }

  .attach .note {
    width: 100%;
    padding-top: 62%;
    letter-spacing: 1px;
  }

  .attach .note p {
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: "Helvetica Neue Light";
  }

  .attach .attachPin {
    width: 100%;
    padding-top: 50%;
    /*padding-right: 2%;*/
  }

  .attach .attachPin i {
    color: #ff464e;
    font-size: 92px;
    float: right;
  }
}
