@media all and (orientation: landscape) {
  .attach .attachPin1 {
    padding-top: 22%;
  }

  .attach .attachPin1 .backs {
    color: #ff464e;
    font-size: 25px;
    float: left !important;
    padding-left: 15px;
  }

  .attach .attachPin1 .buttons {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media all and (orientation: portrait) {
  .attach .attachPin1 {
    padding-top: 63%;
  }

  .attach .attachPin1 .backs {
    color: #ff464e;
    font-size: 25px;
    float: left !important;
    padding-left: 15px;
  }

  .attach .attachPin1 .buttons {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}

