/*ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/

/*ion-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}*/

@media all and (orientation: landscape) {
  .category {
    width: 100%;
    height: auto;
  }

  .category .label {
    width: 100%;
    text-align: center;
    padding-bottom: 8%;
  }

  .category label {
    color: whitesmoke;
    font-size: 22px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .category table {
    width: 100%;
  }

  .category table .index1 th {
    background-color: #2b2c2d;
    border-top: solid #FB444A;
    border-top-width: 2px;
    border-bottom: solid #FB444A;
    border-bottom-width: 2px;
    color: whitesmoke;
    text-align: left;
    font-size: 16px;
    padding: 12px 0 2px 0;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .category table tr td {
    color: whitesmoke;
    font-size: 14px;
    padding: 15px 0 0 6px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .category table tr td input[type='radio'] {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    /*white-space: nowrap;*/
    /*overflow:hidden;*/
    width: 15px;
    height: 15px;
  }

  .category table tr td input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }

  .buttonCategory {
    padding-top: 52px;
    width: 100%;
    padding-right: 4px;
  }

  .buttonCategory .done {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media all and (orientation: portrait) {
  .category {
    width: 100%;
    height: auto;
  }

  .category .label {
    width: 100%;
    text-align: center;
    padding-bottom: 8%;
    padding-top: 3%;
  }

  .category label {
    color: whitesmoke;
    font-size: 24px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .category table {
    width: 100%;
  }

  .category table .index1 th {
    background-color: #2b2c2d;
    border-top: solid #FB444A;
    border-top-width: 2px;
    border-bottom: solid #FB444A;
    border-bottom-width: 2px;
    color: whitesmoke;
    text-align: left;
    font-size: 16px;
    padding: 12px 0 1px 0;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .category table tr td {
    color: whitesmoke;
    font-size: 14px;
    padding: 15px 0 0 6px;
    font-family: "Helvetica Neue Light";
    vertical-align: -webkit-baseline-middle;
    letter-spacing: 1px;
  }

  .category table tr td input[type='radio'] {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    /*white-space: nowrap;*/
    /*overflow:hidden;*/
    width: 15px;
    height: 15px;
  }

  .category table tr td input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }

  .buttonCategory {
    padding-top: 5%;
    width: 100%;
    padding-right: 4px;
  }

  .buttonCategory .done {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}
