@media all and (orientation: portrait) {
  .invoice {
    width: 100%;
    height: auto;
  }

  .invoice .div {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 22px !important;
    padding-bottom: 8%;
    padding-top: 1%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .invoice .detail {
    padding-bottom: 12px;
  }

  .invoice table {
    width: 100%;
  }

  .invoice table .index1 th {
    background-color: #2b2c2d;
    border-top: solid #FB444A;
    border-top-width: 2px;
    border-bottom: solid #FB444A;
    border-bottom-width: 2px;
    color: whitesmoke;
    text-align: left;
    font-size: 15px;
    padding: 10px 0 1px 0;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .invoice table tr td {
    color: whitesmoke;
    font-size: 12px;
    padding: 15px 0 0 6px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .invoice .invoiceButton {
    padding-top: 41%;
  }

  .invoice .invoiceButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media all and (orientation: landscape) {
  .invoice {
    width: 100%;
    height: auto;
    padding-bottom: 8%;
  }

  .invoice .div {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 24px !important;
    padding-bottom: 8%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .invoice .detail {
    padding-bottom: 12px;
  }

  .invoice table {
    width: 100%;
  }

  .invoice table .index1 th {
    background-color: #2b2c2d;
    border-top: solid #FB444A;
    border-top-width: 2px;
    border-bottom: solid #FB444A;
    border-bottom-width: 2px;
    color: whitesmoke;
    text-align: left;
    font-size: 15px;
    padding: 8px 0 1px 0;
    letter-spacing: 1px;
  }

  .invoice table tr td {
    color: whitesmoke;
    font-size: 12px;
    padding: 15px 0 0 6px;
    letter-spacing: 1px;
  }

  .invoice .invoiceButton {
    padding-top: 14%;
  }

  .invoice .invoiceButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}
