
/*
ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
*/

/*ion-content {
  padding-left: 10px;
  padding-right: 10px
}*/

@media all and (orientation: landscape) {
  .login {
    width: 100%;
    height: auto;
    /*padding-bottom: 10%;*/
  }

  .login .loginLogo {
    width: 100%;
  }

  .login .loginLogo img {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: auto;
  }

  .login .loginForm {
    width: 90%;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
  }

  .login .loginForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .login .loginForm div label i {
    color: whitesmoke;
    font-size: 18px;
    font-family: "Helvetica Neue Light";
    line-height: 10px;
  }

  .login .loginForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 36px;
    font-family: "Helvetica Neue Light";
  }

  .login .loginForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .login .loginButton {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }

  .login .loginButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .login .loginButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 54px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px;

  }
}

@media all and (orientation: portrait) {
  .login {
    width: 100%;
    padding-top: 8%;
    height: auto;
    /*padding-bottom: 10%;*/
  }

  .login .loginLogo {
    width: 100%;
  }

  .login .loginLogo img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }

  .login .loginForm {
    width: 90%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
  }

  .login .loginForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .login .loginForm div label i {
    color: whitesmoke;
    font-size: 18px;
    line-height: 10px;
    font-family: "Helvetica Neue Light";
  }

  .login .loginForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 21px;
    font-family: "Helvetica Neue Light";
    line-height: 38px;
  }

  .login .loginForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .login .loginButton {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }

  .login .loginButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .login .loginButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 52px !important;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }
}
