/*.profile {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.profile .heading {
  text-align: center;
  color: whitesmoke;
  font-size: 24px;
  padding-bottom: 8%;
  width: 100%;
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
}*/
@media all and (orientation: landscape) {
  .profile {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
  }


  .profile .profileForm {
    width: 90%;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
  }

  .profile .profileForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .profile .profileForm div label i {
    color: whitesmoke;
    font-size: 18px;
    font-family: "Helvetica Neue Light";
    line-height: 10px;
  }

  .profile .profileForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 36px;
    font-family: "Helvetica Neue Light";
  }

  .profile .profileForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .profile .profileButton {
    width: 87%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }

  .profile .profileButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .profile .profileButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 54px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px;

  }
}
@media all and (orientation: portrait) {
  .profile {
    width: 100%;
    /*padding-top: 8%;
    height: auto;*/
    display: block;
    margin: 0 auto;
  }
  .profile .heading {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 8%;
    width: 100%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .profile .profileForm {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .profile .profileForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .profile .profileForm div label i {
    color: whitesmoke;
    font-size: 18px;
    line-height: 10px;
    font-family: "Helvetica Neue Light";
  }

  .profile .profileForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 21px;
    font-family: "Helvetica Neue Light";
    line-height: 38px;
  }

  .profile .profileForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .profile .profileButton {
    width: 85%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }

  .profile .profileButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .profile .profileButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 52px !important;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }
}
