
@media all and (orientation: landscape) {
  .register {
    width: 100%;
    height: auto;
    padding-bottom: 10%;
  }

  .register .registerLogo {
    width: 100%;
  }

  .register .registerLogo img {
    display: block;
    margin: 0 auto;
    width: 20%;
    height: auto;
  }

  .register .registerForm {
    width: 90%;
    padding-top: 5px;
    display: block;
    margin: 0 auto;
  }

  .register .registerForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .register .registerForm div label i {
    color: whitesmoke;
    font-size: 18px;
    font-family: "Helvetica Neue Light";
    line-height: 10px;
  }

  .register .registerForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 36px;
    font-family: "Helvetica Neue Light";
  }

  .register .registerForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .register .registerButton {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 15px;
  }

  .register .registerButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .register .registerButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 54px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px;

  }
}

@media all and (orientation: portrait) {
  .register {
    width: 100%;
    padding-top: 8%;
    height: auto;
  }

  .register .registerLogo {
    width: 100%;
  }

  .register .registerLogo img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
  }

  .register .registerForm {
    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .register .registerForm div label {
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
  }

  .register .registerForm div label i {
    color: whitesmoke;
    font-size: 18px;
    line-height: 10px;
    font-family: "Helvetica Neue Light";
  }

  .register .registerForm div label .keyboard-open {
    color: whitesmoke;
    font-size: 18px;
    line-height: 21px;
    font-family: "Helvetica Neue Light";
    line-height: 38px;
  }

  .register .registerForm div label input::-webkit-input-placeholder {
    font-size: 18px;
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
  }

  .register .registerButton {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }

  .register .loginButton button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .register .registerButton .loginButton1 {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 52px !important;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }
}
