
@media all and (orientation: portrait) {

  .report {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .report .label {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
    padding-bottom: 10%;
    padding-top: 1%;
  }

  .report .report1 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-top: solid #FB444A;
    border-top-width: 3px;
    border-bottom: solid #FB444A;
    border-bottom-width: 3px;
    float: left;
    margin-bottom: 20px;
  }

  .report .report1 .first {
    font-size: 17px;
  }

  .report .report1 .second {
    font-size: 14px;
  }

  .report .report1 .applied {
    color: #FB444A;
    font-weight: bold;
    font-size: 14px;
  }
  .report .report1 span {
    vertical-align: top;
  }
  .report .report1 .left {
    float: left;
    color: whitesmoke;
    padding-left: 10px;
    letter-spacing: 1px;
    border-right: solid whitesmoke;
    border-right-width: 1px;
    padding-right: 79px;
  }

  .report .report1 .right {
    float: right;
    color: whitesmoke;
    padding-right: 48px;
    letter-spacing: 1px;
    /*border-left: solid whitesmoke;
    border-left-width: 1px;
    padding-left: 15px;*/
  }

  .report .reportButton {
    width: 100%;
  }

  .report .reportButton a {
    letter-spacing: 1px;
    border-top: solid whitesmoke;
    border-top-width: 1px;
    border-left: solid whitesmoke;
    border-left-width: 1px;
    font-weight: bold;
    padding-top: 4px;
  }
  .loading-container .loading .spinner-android{
    stroke:#FB444A !important;
  }
  .button-bar > .button:first-child {
    border-radius: 0 0 0 0;
  }
  .button-bar > .button:last-child {
    border-radius: 0 0 0 0;
  }
}

@media all and (orientation: landscape) {

  .report {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .report .label {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
    padding-bottom: 3%;
    padding-top: 1%;
  }

  .report .report1 {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-top: solid #FB444A;
    border-top-width: 3px;
    border-bottom: solid #FB444A;
    border-bottom-width: 3px;
    float: left;
    margin-bottom: 14px;
  }
  .report .report1 div {
    padding-top: 5px;
  }
  .report .report1 .first {
    font-size: 17px;
  }

  .report .report1 .second {
    font-size: 14px;
  }

  .report .report1 .applied {
    color: #FB444A;
    font-weight: bold;
    font-size: 14px;
  }

  .report .report1 .left {
    float: left;
    color: whitesmoke;
    padding-left: 30px;
    letter-spacing: 1px;
  }

  .report .report1 .right {
    float: right;
    color: whitesmoke;
    padding-right: 28%;
    letter-spacing: 1px;
    border-left: solid whitesmoke;
    border-left-width: 1px;
    padding-left: 15px;
  }

  .report .reportButton {
    width: 100%;
  }

  .report .reportButton a {
    letter-spacing: 1px;
    border-top: solid whitesmoke;
    border-top-width: 1px;
    border-left: solid whitesmoke;
    border-left-width: 1px;
    font-weight: bold;
    background-color: transparent;
  }

  .loading-container .loading .spinner-android{
    stroke:#FB444A !important;
  }
  .button-bar > .button:first-child {
    border-radius: 0 0 0 0;
  }
  .button-bar > .button:last-child {
    border-radius: 0 0 0 0;
  }
}

