@media all and (orientation: portrait) {
  .heading {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-top: 4%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .selectProcess {
    width: 100%;
    padding-top: 35%;
    display: block;
    margin: 0 auto;
  }
  .selectProcess button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .selectProcess .status {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }


  .selectProcessButton {
    padding-top: 55%;
    width: 100%;
  }

  .selectProcessButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}

@media all and (orientation: landscape) {
  .heading {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-top: 2%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .selectProcess {
    width: 100%;
    padding-top: 70px;
    display: block;
    margin: 0 auto;
  }

  .selectProcess {
    width: 100%;
    padding-top: 48px;
    display: block;
    margin: 0 auto;
  }

  .selectProcess button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .selectProcess .status {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }

  .selectProcessButton {
    padding-top: 6%;
    width: 100%;
  }

  .selectProcessButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}

