/*ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/

/*ion-content {
  padding-left: 10px;
  padding-right: 10px
}*/

@media all and (orientation: landscape) {
  .selectStatus {
    width: 100%;
    padding-top: 70px;
    display: block;
    margin: 0 auto;
  }
  .selectStatus button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .selectStatus .status {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 50px !important;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px;
  }
 /* .selectStatus button {
    border: 2px solid #ff464e !important;
    background-color: #2b2c2d !important;
  }

  .selectStatus button i {
    color: white;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
  }
*/
}

@media all and (orientation: portrait) {
  .selectStatus {
    width: 100%;
    padding-top: 52%;
    display: block;
    margin: 0 auto;
  }
  .selectStatus button {
    padding-top: 98%;
    width: 100%;
    padding-right: 4px;
  }

  .selectStatus .status {
    width: 100%;
    height: 44px;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 50px;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 6px
  }
  /*.selectStatus button {
    border: 2px solid #ff464e !important;
    background-color: #2b2c2d !important;
  }

  .selectStatus button i {
    color: white;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
  }*/

}
