/*ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/
/*
ion-content {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}*/

@media all and (orientation: landscape) {
  .select {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 0;
    height: 100%;
  }

  .select .selectCountry {
    width: 100%;
    text-align: center;
    padding-top: 4%;
  }

  .select .selectCountry label {
    color: whitesmoke;
    font-size: 22px;
    font-weight: lighter;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .select .selectCountry select {
    padding: 2%;
    width: 68%;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    margin-top: 8px;
    color: #ff464e;
  }

  .select .selectCountry select option {
    font-size: 15px;
    color: whitesmoke;
  }

  .select .buttonSelect {
    width: 100%;
    text-align: center;
    padding-top: 22%;
  }

  .select .buttonSelect .next {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

  .select .buttonSelect .back {
    width: 110px;
    height: 40px;
    float: left;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}

@media all and (orientation: portrait) {
  .select {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 0;
    height: 100%;
  }

  .select .selectCountry {
    width: 100%;
    text-align: center;
    padding-top: 44%;
  }

  .select .selectCountry label {
    color: whitesmoke;
    font-size: 22px;
    font-weight: lighter;
    font-family: "Helvetica Neue";
  }

  .select .selectCountry select {
    padding: 2%;
    width: 68%;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    margin-top: 8px;
    color: #ff464e;
  }

  .select .selectCountry select option {
    font-size: 15px;
    color: whitesmoke;
  }

  .select .buttonSelect {
    width: 100%;
    text-align: center;
    padding-top: 68%;
  }

  .select .buttonSelect .next {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

  .select .buttonSelect .back {
    width: 110px;
    height: 40px;
    float: left;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}
