ion-nav-view ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bar.bar-stable {
  background-color: rgba(248, 248, 248, 0) !important;
}

i {
  color: #ff464e;
  font-size: 22px;
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

ion-content ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  background: url('../img/TM-App-Ver-background.jpg');
  background-attachment: fixed;
  color: #ff464e !important;
}

ion-item {
  border-color: currentcolor !important;
}

.bar.bar-stable {
  background-image: linear-gradient(0deg, rgba(253, 253, 253, 0), rgba(255, 255, 255, 0) 50%, transparent 50%);
}

.popup-buttons button {
  background-color: #ff464e !important
}

.menu .has-header {
  top: 119px !important;
}

/*About*/

.about {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.about .heading {
  text-align: center;
  color: whitesmoke;
  font-size: 24px;
  padding-bottom: 8%;
  width: 100%;
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
}

.about .conditions {
  width: 93%;
  padding-top: 4%;
  text-align: justify;
  padding-left: 12px;
}

.about .conditions h4 {
  color: whitesmoke;
  font-family: "Helvetica Neue Light";
  letter-spacing: 1px;
}

.about .conditions h5, p {
  color: whitesmoke;
  font-family: "Helvetica Neue Light";
  letter-spacing: 1px;
}

/*Contact*/
.contact {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.contact .heading {
  text-align: center;
  color: whitesmoke;
  font-size: 24px;
  padding-bottom: 8%;
  width: 100%;
  font-family: "Helvetica Neue";
  letter-spacing: 1px;
}

/*Profile Pic*/
.bar.bar-profile {
  background: url('../img/TM-App-Ver-background.jpg');
  background-attachment: fixed;
  height: auto;
  cursor:pointer;
}

.bar .profile {
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 15px;
  padding-left: 10px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.profile .name {
  color: #ff464e;
  margin-top: 18px !important;
  margin-right: 95px;
  float: right;
  font-size: 22px;
}

.profile .name i {
  margin-left: 1px;
  font-size: 18px;
}

.profile-picture {
  border-radius: 50%;
  width: 34%;
}

.menu .has-header {
  top: 169px;
}
