@media all and (orientation: portrait) {
  .terms {
    width: 100%;
    height: auto;
    padding-bottom: 6%;
  }

  .terms .heading {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 8%;
    width: 100%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .terms .conditions {
    width: 93%;
    padding-top: 6%;
    text-align: justify;
    padding-left: 12px;
  }

  .terms .conditions h4 {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .conditions h5, p {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .termButton {
    padding-top: 8%;
    width: 100%;
    padding-bottom: 10%;
  }

  .terms .termButton .termButton1 {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

  .terms .termButton span {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 18px;
  }

  .terms .termButton span i {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .termButton input[type='radio'] {
    margin-right: 18px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    margin-bottom: -2px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    width: 15px;
    height: 15px;
  }

  .terms .termButton input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }
}

@media all and (orientation: landscape) {
  .terms {
    width: 100%;
    height: auto;
    padding-bottom: 5%;
  }

  .terms .heading {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 2%;
    width: 100%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .terms .conditions {
    width: 100%;
    padding-top: 6%;
    text-align: justify;
    padding-left: 12px;
  }

  .terms .conditions h4 {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .conditions h5, p {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .termButton {
    padding-top: 5%;
    width: 100%;
    padding-bottom: 5%;
  }

  .terms .termButton .termButton1 {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

  .terms .termButton span {
    float: right;
    padding-right: 20px;
    padding-top: 10px;
    font-size: 18px;
  }

  .terms .termButton span i {
    color: whitesmoke;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .terms .termButton input[type='radio'] {
    margin-right: 18px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    margin-bottom: -2px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    width: 15px;
    height: 15px;
  }

  .terms .termButton input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }
}
