/*ion-view {
  background: url('../img/TM-App-Ver-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/
/*

ion-content {
  padding-left: 10px;
  padding-right: 10px
}
*/

@media all and (orientation: landscape) {
  .visaForm {
    width: 100%;
    height: auto;
    padding-bottom: 1%;
  }

  .visaForm .div {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 3%;
    width: 100%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .visaForm form div {
    background-color: transparent;
    color: whitesmoke;
    font-size: 18px;
    width: 100%;
  }

  .visaForm form div label {
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
    margin-top: 8px;
    letter-spacing: 1px;
  }

  .visaForm form div label .keyboard-open {
    color: whitesmoke;
    font-size: 15px;
    /*font-family: "Helvetica Neue Light";*/
  }

  .visaForm form div .visaSelect {
    width: 100%;
    padding-top: 10px;
  }

  .visaForm form div .visaSelect span {
    color: whitesmoke;
    padding-right: 35px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .visaForm form div .visaSelect input[type='radio'] {
    margin-right: 18px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    width: 15px;
    height: 15px;
  }

  .visaForm form div input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }

  .visaForm form div select {
    padding: 5px 0 5px 0;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    margin-top: 8px;
    color: #ff464e;
  }

  .visaForm select option {
    font-size: 15px;
    color: whitesmoke;
  }

  .visaForm form div .visaButton {
    width: 110px;
    min-height: 40px !important;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}

@media all and (orientation: portrait) {
  .visaForm {
    width: 100%;
    height: auto;
    padding-bottom: 4%;
  }

  .visaForm .div {
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
    padding-bottom: 8%;
    width: 100%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .visaForm form div {
    background-color: transparent;
    color: whitesmoke;
    font-size: 18px;
    width: 100%;
  }

  .visaForm form div label {
    padding-top: 0;
    padding-bottom: 0;
    border: 2px solid #ff464e;
    border-radius: 4px;
    background-color: #2b2c2d;
    margin-top: 8px;
    letter-spacing: 1px;
  }

  .visaForm form div label .keyboard-open {
    color: whitesmoke;
    font-size: 15px;
    /*font-family: "Helvetica Neue Light";*/
  }

  .visaForm form div .visaSelect {
    width: 100%;
    padding-top: 10px;
  }

  .visaForm form div .visaSelect span {
    color: whitesmoke;
    padding-right: 35px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .visaForm form div .visaSelect input[type='radio'] {
    margin-right: 18px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    background-color: #2b2c2d;
    width: 15px;
    height: 15px;
  }

  .visaForm form div input[type='radio']:checked {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    -webkit-appearance: button;
    /*background-color:#2b2c2d;*/
    border: 1px solid #ff464e;
    /*white-space: nowrap;*/
    width: 15px;
    height: 15px;
  }

  .visaForm form div select {
    padding: 5px 0 5px 0;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    margin-top: 8px;
    color: #ff464e;
  }

  .visaForm select option {
    font-size: 15px;
    color: whitesmoke;
  }

  .visaForm form div .visaButton {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}
