@media all and (orientation: landscape) {
  .visaPreview {
    width: 100%;
    height: auto;
    padding-bottom: 8%;
  }

  .visaPreview .div {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 24px !important;
    padding-bottom: 8%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .visaPreview .detail {
    width: 100%;
    font-size: 15px;
    font-family: "Helvetica Neue Light";
    letter-spacing: 1px;
  }

  .detailPic {
    width: 100%;
  }

  .detailPic span img {
    width: 100%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
  }

  .visaPreview .detailButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }
}

@media all and (orientation: portrait) {
  .visaPreview {
    width: 100%;
    height: auto;
    padding-bottom: 16%;
  }

  .visaPreview .div {
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-size: 22px !important;
    padding-bottom: 8%;
    padding-top: 3%;
    font-family: "Helvetica Neue";
    letter-spacing: 1px;
  }

  .visaPreview .detail {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .detailPic {
    width: 100%;
  }

  .detailPic span img {
    width: 100%;
    padding-top: 20px;
    display: block;
    margin: 0 auto;
  }

  .visaPreview .detailButton input {
    width: 110px;
    height: 40px;
    float: right;
    border-radius: 1px;
    color: whitesmoke;
    background-color: #2b2c2d;
    border: 2px solid #ff464e;
    padding: 0 3px;
    line-height: 46px;
    font-size: 19px;
    font-family: "Helvetica Neue Light";
    font-weight: 800;
    letter-spacing: 1px;
  }

}
